body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

h2 {
    text-align: center;
}

form {
    width: 30%;
    margin: 10px 35% 10px 35%;
    padding: 10px;
}

div#remember {
    display: flex;
}


div#remember input {
    display: initial;
    width: initial
}

p {
    border: 4px dotted rgba(255, 255, 249, 0.87);
    background-color: rgba(253, 135, 135, 0.637);
    width: 20%;
    margin: 10px auto; 
    text-align: center
}